<div ngClass="side-nav">
  <div ngClass="top-content">
    <img src="../../assets/images/logo.png" />
    <h3>Hello {{username}}</h3>
    <hr />
  </div>
  <nav>
    <ul>
      <li><a routerLink="inventory-sectors">Inventory Sectors</a></li>
      <!-- <li><a>Inventory full View</a></li>
      <li><a>Work Jobs</a></li>
      <li><a>Users</a></li> -->
      <li><a routerLink="inventory-objects">Inventory Objects</a></li>
      <li><a routerLink="production-lines">Production Lines</a></li>
      <!-- <li><a routerLink="production-lines">Jobs</a></li> -->
    </ul>
  </nav>
  <div ngClass="bottom-content">
    <app-btn (btnClick)="logoutHandler()" text="Logout" [isDisabled]="false"></app-btn>
  </div>
 
</div>
