<!-- https://malcoded.com/posts/angular-ngclass/ -->
<div
  [class.modal-background]="true"
  [class.modal-background-show]="modalModalBackground"
  (click)="closeFormHandler()"
></div>
<div ngClass="form-container" [class.form-container-show]="addModalShow">
  <app-add-sector></app-add-sector>
</div>
<div ngClass="form-container" [class.form-container-show]="editModalShow">
  <app-edit-sector [sectorId]="selectedEditSectorId"></app-edit-sector>
</div>
<div ngClass="container">
  <div ngClass="top-header">
    <!-- <div>
      <p>search Sector</p>
    </div> -->
    <p>Total sectors: {{ sectorList.length }}</p>
    <p>Total jobs active: {{TotalJobs}}</p>
    <!-- total jobs active: {{jobs.length}} -->
    <div ngClass="new-sector-btn">
      <app-btn
        (btnClick)="addNewSectorModalHandler()"
        text="Add New Sector"
        [isDisabled]="false"
      ></app-btn>
    </div>
  </div>
  <table ngClass="sector-table">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <!-- <th>Employees</th> -->
      <!-- <th>Status</th> -->
      <th>Current Jobs</th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      <ng-template ngFor let-sector [ngForOf]="sectorList">
        <tr (click)="routeHandler(sector._id)">
          <td>
            <p>{{ sector.title }}</p>
          </td>
          <td>
            <p>
              ({{ sector.locationX }},{{ sector.locationY }},{{
                sector.locationZ
              }})
            </p>
          </td>
          <!-- <td>
            <p>{{ sector.employees.length }}</p>
          </td> -->
          <!-- <td>
            <p *ngIf="sector.status">Active</p>
            <p *ngIf="!sector.status">Discontinued</p>
          </td> -->
          <td>
            <p>{{ sector.jobs.length }}</p>
          </td>
          <td>
            <a ngClass="manage-btn" (click)="onEditItem($event, sector._id)"
              >Edit Sector</a
            >
          </td>
          <td>
            <a ngClass="manage-btn" (click)="onDeleteItem($event, sector._id)"
              >Delete Sector</a
            >
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
