<form ngClass="form-container" [formGroup]="jobFormGroup">
  <h2>Creating job</h2>
  <div ngClass="form-group">
    <input
      type="text"
      required="required"
      placeholder="Job Title"
      [formControlName]="'jobTitle'"
    />
    <label ngClass="control-label" for="input">Job Title</label>
    <i ngClass="bar"></i>
    <!-- <i ngClass="input-error"></i> -->
  </div>
  <div ngClass="form-group">
    <input
      type="text"
      required="required"
      placeholder="Search Object Form Input"
      [formControlName]="'jobType'"
      (click)="showJobTypeDropdown()"
      (blur)="hideJobTypeDropdown()"
    />
    <label ngClass="control-label" for="input">Search Object Form Input</label>
    <i ngClass="bar"></i>
    <!-- <i ngClass="input-error"></i> -->
  </div>
  <div *ngIf="jobTypeDropdown" ngClass="dropdown-list">
    <ng-template ngFor let-jobType [ngForOf]="jobTypes">
      <p (click)="SelectJobTypeHandler(jobType)" ngClass="object-list-item">
        {{ jobType }}
      </p>
    </ng-template>
  </div>
  <div *ngIf="selectedJobType === ''">
    <p></p>
  </div>
  <div *ngIf="selectedJobType === 'Import'">
    <app-delivery [jobDetailsFormGroup]="jobFormGroup" />
  </div>
  <div *ngIf="selectedJobType === 'Export'">
    <app-export [jobDetailsFormGroup]="jobFormGroup" />
  </div>
  <div *ngIf="selectedJobType === 'Stock Update'">
    <app-stock-update [jobDetailsFormGroup]="jobFormGroup" />
  </div>
  <div *ngIf="selectedJobType === 'Production'">
    <app-production [jobDetailsFormGroup]="jobFormGroup" />
  </div>
  <div ngClass="form-group">
    <input
      type="text"
      required="required"
      placeholder="Who's Job"
      [formControlName]="'for'"
      (click)="showUsersDropDown()"
      (keyup)="onSearchUserList()"
      (blur)="HideUsersDropDown()"
    />
    <label ngClass="control-label" for="input">Who's Job</label>
    <i ngClass="bar"></i>
    <!-- <i ngClass="input-error"></i> -->
  </div>
  <div *ngIf="inputShowUsersDropdown" ngClass="dropdown-list">
    <ng-template ngFor let-user [ngForOf]="UserList">
        <p (click)="SelectUserInputsHandler(user._id)" ngClass="object-list-item">{{user.username}}</p>
    </ng-template>
  </div>
  <br />
    <app-btn
      (btnClick)="onSubmit()"
      text="Create Job"
      [isDisabled]="false"
    />
  <!-- <p>job type</p>
    <p>delivery</p>
    <p>production</p>
    <p>export</p>
    <p>stock update</p>
    <p>Production Line</p>
    <p>Production Line Amount</p> -->
</form>
