/* You can add global styles to this file, and also import other style files */
$primary: #389795;
$secondary: #61cecc;

*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  -webkit-text-fill-color: $primary;
  -webkit-box-shadow: 0 0 0px 1000px #00000034 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background: $primary;
}