<form ngClass="form-container" [formGroup]="addObjectFormGroup">
  <h2>Add New Object</h2>
  <div ngClass="form-group">
    <input
      type="text"
      required="required"
      placeholder="Object Name"
      [formControlName]="'objectTitle'"
    />
    <label ngClass="control-label" for="input">Object Name</label>
    <i ngClass="bar"></i>
    <!-- <i ngClass="input-error"></i> -->
  </div>
  <div ngClass="form-group">
    <input
      type="text"
      required="required"
      placeholder="Object Storage Unit"
      [formControlName]="'unit'"
    />
    <label ngClass="control-label" for="input">Object Storage Unit</label>
    <i ngClass="bar"></i>
    <!-- <i ngClass="input-error"></i> -->
  </div>
  <br />
  <app-btn
    (btnClick)="onSubmit()"
    text="Add New Inventory Object"
    [isDisabled]="false"
  />
</form>
